*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #dedfda;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* .card-header {
    background-color: purple;
} */

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(241, 243, 215);
    border-radius: 5px;
    border: solid;
    border-color: rgb(216, 218, 183);
    border-width: 5px;
    padding: 10px;

}

.newQuestionBox {
    text-align: center;
}

.btn-grid {
    display: grid;
    
    gap: 10px;
    margin: 20px;
}
 
.btn {
    background-color: rgb(206, 106, 206);
    border-radius: 5px;
    border-color: black;
    outline: none;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px, 20px;
}

.hide {
    display: none;
}

/* footer {
    height: 10vh;
    background-color: purple
} */