*,
*::before,
*::after {
  box-sizing: border-box;
}


.timer {
  float: right;
}

.newQuestionBox {
  text-align: center;
}

.center{
    text-align: center;
}
.answerButtons{
    text-align: center;
}

.startBtn {
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(206, 106, 206);
  border-radius: 5px;
  border-color: black;
  outline: none;
}

.hide {
  display: none;
}

.submit-area {
    text-align: center;
}